<%- include('../../partials/header.ejs', {title: 'Not Found'}) %>
    <div class="container my-container my-5">
        <h1 class="display-4 text-center">Bad Request! 404 page not found.!</h1>
        <br>
        <br>
        <button class="btn btn-outline-primary text-center"><a href="/dashboard" style="color: #222;" >Back to your dashboard</a></button>
    </div>

    <%- include('../../partials/footer.ejs') %>

        </body>

        </html>