<%- include('../../partials/header.ejs') %>
<div class="container my-container my-5">
  <h2 class="my-5">My Dashboard</h2>
  <%- include('../../partials/sidebar.ejs')  %>
</div>

<%- include('../../partials/footer.ejs') %>

</body>

</html>